<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ch8_practice">
    <!-- AndroidManifest.xml 파일에 SD 카드를 사용할 수 있도록 퍼미션 및 application에 관련 속성 추가 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CH8_practice">
        <activity
            android:name=".FileAccess"
            android:exported="false" />
        <activity
            android:name=".SDcard_create"
            android:exported="false" />
        <activity
            android:name=".SDcard_Read"
            android:exported="false" />
        <activity
            android:name=".RawFile"
            android:exported="true" />
        <activity
            android:name=".FileProcess_basic"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>